# OS specific files
.DS_Store
Thumbs.db

# Project dependencies
node_modules/

# Distribution files
dist/
client/storybook-static/

# Environment files
.env
**/.env
.env.local
**/.env.local

# Database files
data/*.db
**/*.db

# Agent Session log
session-*.md

# User defined
nosync
nogit
