# OS specific files
.DS_Store
Thumbs.db

# Project dependencies
node_modules/

# Distribution files
dist/
client/storybook-static/

# Database files
data/*.db
**/*.db

# Agent Session log
session-*.md

# User defined
nosync
nogit
